.catalog {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  padding: 40px 70px 75px;

  background-color: var(--color-beg);

  @media (max-width: 1024px) {
    gap: 10px;
    padding: 15px 10px 40px;
  }
}

.catalog__title {
  margin: 0;

  font-size: 50px;
  text-transform: uppercase;

  @media (max-width: 1439px) {
    font-size: 34px;
  }

  @media (max-width: 1024px) {
    font-size: 24px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 100px;
  width: 100%;
  align-items: center;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 95px;
  color: var(--color-braun);
  border-bottom: 2px solid var(--color-gold);

  text-align: center;

  cursor: pointer;

  @media (max-width: 1024px) {
    gap: 10px;
    padding-bottom: 20px;
  }
}

.catalog__item--last {
  border: unset;
}

.catalog__item--underline {
  @media (max-width: 1024px) {
    border-bottom: 2px solid var(--color-gold);
  }
}

.catalog__item-title {
  margin: 0;

  font-size: 30px;
  text-transform: uppercase;

  @media (max-width: 1439px) {
    font-size: 24px;
  }

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.catalog__item svg {
  @media (max-width: 1024px) {
    width: 80px;
    height: 80px;
  }
}

.catalog__item:hover svg {
  color: var(--color-gold);
}
