.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--color-beg);
}

.header__overlay {
  display: none;

  .header.is-open & {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(13, 29, 51, 0.4);
  }
}

.header__nav {
  position: relative;

  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  padding: 25px 70px 10px;

  background-color: var(--color-braun);
  color: var(--color-gold);

  @media (max-width: 1439px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 1024px) {
    justify-content: space-between;
    padding: 10px 15px;
    gap: 10px;
  }
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0;
  margin: 0;

  font-size: 32px;
  text-transform: uppercase;
  color: var(--color-gold);
  list-style: none;
  z-index: 20;

  @media (max-width: 1439px) {
    font-size: 22px;
  }

  @media (max-width: 1024px) {
    position: absolute;
    bottom: -200px;
    left: 20px;

    display: none;
    flex-direction: column;
    gap: 28px;
    width: 280px;
    padding: 20px;

    background-color: var(--color-braun);
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.header.is-open .header__nav-list {
  @media (max-width: 1024px) {
    display: flex;
  }
}

.header__nav-link {
  position: relative;
  padding: 10px;

  color: var(--color-gold);
  text-decoration: none;
  cursor: pointer;
}

.header__nav-link:hover::before,
.header__nav-link:focus::before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;

  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--color-gold);
}

.header__download {
  z-index: 10;
  flex-shrink: 0;
  padding: 30px 30px 25px;
  border: 2px solid var(--color-gold);
  border-radius: 45px;

  color: var(--color-gold);
  cursor: pointer;
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;

  @media (max-width: 1439px) {
    padding: 20px 20px 15px;

    font-size: 22px;
  }
  @media (max-width: 1024px) {
    padding: 15px 15px 10px;

    font-size: 18px;
  }
}

.header__slogan {
  position: relative;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 60px;
  padding: 15px;
  margin: 0;

  font-size: 30px;
  color: var(--color-gold);
  border-top: 18px solid var(--color-gold);

  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;

  @media (max-width: 1439px) {
    padding: 5px;
    border-top: 16px solid var(--color-gold);
    font-size: 24px;
  }

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.header__slogan-text {
  position: absolute;
  margin: 0;

  display: flex;
  justify-content: center;
  width: 100%;

  white-space: nowrap;
  will-change: transform;
  text-indent: 0;
}

.header__burger {
  display: none;

  @media (max-width: 1024px) {
    z-index: 10;

    display: inline-flex;
    width: 18px;
    height: 33px;
    align-items: center;
    justify-content: center;

    border: unset;
    border-radius: 30px;
    background-color: var(--color-transparent);

    color: var(--color-gold);
    cursor: pointer;

    transition: all 0.3s ease;
  }
}

.header.is-open .header__burger {
  border: 1px solid var(--color-gold);
}

.header__burger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__burger svg {
  fill: currentColor;
}

.header__logo {
  position: absolute;
  top: 170px;
  right: 85px;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: transparent;
  }

  @media (max-width: 1439px) {
    svg {
      width: 250px;
      height: 250px;
    }
  }
  @media (max-width: 1024px) {
    position: relative;
    top: unset;
    right: unset;

    svg {
      width: 65px;
      height: 66px;
    }
  }
}

.header__image {
  img {
    height: 895px;
  }

  @media (max-width: 1024px) {
    position: relative;
    top: unset;
    right: unset;

    img {
      height: 500px;
    }
  }
  @media (max-width: 550px) {
    position: relative;
    top: unset;
    right: unset;

    img {
      height: 200px;
    }
  }
}
